In [3]:
import pandas as pd
import numpy as np
import plotly.express as px

. load the data 
. look at the data
. if required , trasform the data 
. if required, reduce the data
.  if required, create new features(new column)
.   visualize the data
.    comute statistics

In [36]:
df = pd.read_excel('SampleData.xlsx')
df

,id,first name,last name,basic salary,d.a,h.r.a,t.a,department,fine
0,1,Vijay,Verma,20000,0.3,0.9,0.1,sales,699
1,2,Rohan,Gupta,10000,0.4,0.8,0.1,rnd,299
2,3,Ram,Pathak,22000,0.5,0.7,0.1,purchase,0
3,4,Shyam,Kumar,15000,0.1,0.6,0.3,rnd,399
4,5,Amar,Garg,25000,0.2,0.9,0.5,sales,400
5,6,Samar,Pal,18000,0.8,0.9,0.1,purchase,2010
6,7,Anurag,Sharma,28000,0.7,0.5,0.1,rnd,600
7,8,Nishtha,Jaishwal,50000,0.9,0.5,0.4,sales,300
8,9,Priya,Maurya,5000,0.6,0.3,0.5,rnd,200
9,10,Siya,Agrawal,2000,0.8,0.2,0.6,purchase,100

In [37]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [38]:
df['first name'] #series

0      Vijay
1      Rohan
2        Ram
3      Shyam
4       Amar
5      Samar
6     Anurag
7    Nishtha
8      Priya
9       Siya
Name: first name, dtype: object

In [39]:
df[['first name', 'last name']] #list of columns--dataframe

  first name last name
0      Vijay     Verma
1      Rohan     Gupta
2        Ram    Pathak
3      Shyam     Kumar
4       Amar      Garg
5      Samar       Pal
6     Anurag    Sharma
7    Nishtha  Jaishwal
8      Priya    Maurya
9       Siya   Agrawal

In [40]:
df.iloc[0] #iloc location - row wise access

       id           1
first name      Vijay
last name       Verma
basic salary    20000
d.a               0.3
h.r.a             0.9
t.a               0.1
department      sales
fine              699
Name: 0, dtype: object

In [41]:
df.iloc[3].tolist() #convert to list

[4, 'Shyam', 'Kumar', 15000, 0.1, 0.6, 0.3, 'rnd', 399]

In [42]:
df.iloc[:4] # first of 4

,id,first name,last name,basic salary,d.a,h.r.a,t.a,department,fine
0,1,Vijay,Verma,20000,0.3,0.9,0.1,sales,699
1,2,Rohan,Gupta,10000,0.4,0.8,0.1,rnd,299
2,3,Ram,Pathak,22000,0.5,0.7,0.1,purchase,0
3,4,Shyam,Kumar,15000,0.1,0.6,0.3,rnd,399

In [43]:
df.iloc[-5: , :3] #last 5 rows and first 3 columns

          id first name last name
5          6      Samar       Pal
6          7     Anurag    Sharma
7          8    Nishtha  Jaishwal
8          9      Priya    Maurya
9         10       Siya   Agrawal

In [44]:
df.head() #first of 5 rows

,id,first name,last name,basic salary,d.a,h.r.a,t.a,department,fine
0,1,Vijay,Verma,20000,0.3,0.9,0.1,sales,699
1,2,Rohan,Gupta,10000,0.4,0.8,0.1,rnd,299
2,3,Ram,Pathak,22000,0.5,0.7,0.1,purchase,0
3,4,Shyam,Kumar,15000,0.1,0.6,0.3,rnd,399
4,5,Amar,Garg,25000,0.2,0.9,0.5,sales,400

In [45]:
df.tail() #last of 5 rows

,id,first name,last name,basic salary,d.a,h.r.a,t.a,department,fine
5,6,Samar,Pal,18000,0.8,0.9,0.1,purchase,2010
6,7,Anurag,Sharma,28000,0.7,0.5,0.1,rnd,600
7,8,Nishtha,Jaishwal,50000,0.9,0.5,0.4,sales,300
8,9,Priya,Maurya,5000,0.6,0.3,0.5,rnd,200
9,10,Siya,Agrawal,2000,0.8,0.2,0.6,purchase,100

In [46]:
#missing data
df.isnull().sum() #

       id       0
first name      0
last name       0
basic salary    0
d.a             0
h.r.a           0
t.a             0
department      0
fine            0
dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0          id     10 non-null     int64
 1   first name    10 non-null     object
 2   last name     10 non-null     object
 3   basic salary  10 non-null     int64
 4   d.a           10 non-null     float64
 5   h.r.a         10 non-null     float64
 6   t.a           10 non-null     float64
 7   department    10 non-null     object
 8   fine          10 non-null     int64
dtypes: float64(3), int64(3), object(3)
memory usage: 848.0+ bytes

In [48]:
df.describe() #summary statistics for numerical columns

              id  basic salary        d.a      h.r.a        t.a         fine
count   10.00000     10.000000  10.000000  10.000000  10.000000    10.000000
mean     5.50000  19500.000000   0.530000   0.630000   0.280000   500.700000
std      3.02765  13615.758844   0.275076   0.254078   0.204396   570.603784
min      1.00000   2000.000000   0.100000   0.200000   0.100000     0.000000
25%      3.25000  11250.000000   0.325000   0.500000   0.100000   224.750000
50%      5.50000  19000.000000   0.550000   0.650000   0.200000   349.500000
75%      7.75000  24250.000000   0.775000   0.875000   0.475000   550.000000
max     10.00000  50000.000000   0.900000   0.900000   0.600000  2010.000000

In [49]:
df.head(3)

,id,first name,last name,basic salary,d.a,h.r.a,t.a,department,fine
0,1,Vijay,Verma,20000,0.3,0.9,0.1,sales,699
1,2,Rohan,Gupta,10000,0.4,0.8,0.1,rnd,299
2,3,Ram,Pathak,22000,0.5,0.7,0.1,purchase,0

In [50]:
df['d.a'] * df['basic salary']\
    +df['h.r.a'] * df['basic salary']\
    +df['t.a'] * df['basic salary']\
    +df['basic salary']

0     46000.0
1     23000.0
2     50600.0
3     30000.0
4     65000.0
5     50400.0
6     64400.0
7    140000.0
8     12000.0
9      5200.0
dtype: float64

In [51]:
df['total salary']=df['d.a'] * df['basic salary']\
    +df['h.r.a'] * df['basic salary']\
    +df['t.a'] * df['basic salary']\
    +df['basic salary'] - df['fine']
df.head(3)

,id,first name,last name,basic salary,d.a,h.r.a,t.a,department,fine,total salary
0,1,Vijay,Verma,20000,0.3,0.9,0.1,sales,699,45301.0
1,2,Rohan,Gupta,10000,0.4,0.8,0.1,rnd,299,22701.0
2,3,Ram,Pathak,22000,0.5,0.7,0.1,purchase,0,50600.0

In [52]:
px.area(df, x='first name', y='total salary')