In [1]:
print ("Hello World")

Hello World

In [2]:
a = 10
b = a
print(id(a))  
print(id(b))  
# Reassigned variable a  
a = 500  
print(id(a))

2005107999248
2005107999248
2005186674608

In [6]:
name = "Dipali"
age = 23
address = "Lucknow"
enroll  = 22

print (name)
print (age)
print (address)
print (enroll )

Dipali
23
Lucknow
22

In [5]:
name = "Devansh"  
age = 20  
marks = 80.50  
  
print(name)  
print(age)  
print(marks)

Devansh
20
80.5

In [7]:
x=y=z=20  
print(x)    
print(y)    
print(z)

20
20
20

In [1]:
a,b,c=1, 2,3   
print  (a)    
print (b)    
print (c)

1
2
3

In [2]:
print ("Hey")

Hey

In [3]:
print (19*2)

38

In [7]:
#Escape Sequence character

print ("I am good girl.... \nand I am good learner....")

I am good girl....
and I am good learner....

In [8]:
# Declaring a function  
def add():  
    # Defining local variables. They has scope only within a function  
    a = 20  
    b = 30  
    c = a + b  
    print("The sum is:", c)  
  
# Calling a function  
add()

The sum is: 50

In [9]:
#DataTypes

a=10  
b="Hi Python"  
c = 10.5  
print(type(a))  
print(type(b))  
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [10]:
a = 5  
print("The type of a", type(a))  
  
b = 40.5  
print("The type of b", type(b))  
  
c = 1+3j  
print("The type of c", type(c))  
print(" c is a complex number", isinstance(1+3j,complex))

The type of a <class 'int'>
The type of b <class 'float'>
The type of c <class 'complex'>
 c is a complex number True

In [11]:
#Sequence Types
#String

str = "string using double quotes"  
print(str)  
s = '''''A multiline 
string'''  
print(s)

string using double quotes
''A multiline
string

In [ ]:
#List