In [5]:
x = [1,2,3,4,5,6,7,8,9,10]
y = [] #empty
z = ['apple','banana', 'cheery', 'orange', 'melon', 'mango ']
a = ['alex', 5 , 'Sam',7, 'john',10,'james',15 ]
a3 = [ [1,2,3],
       [4,5,6],
       [7,8,9]
       ]
print(z)

['apple', 'banana', 'cheery', 'orange', 'melon', 'mango ']

In [6]:
class Movie:
    def __init__(self,name,year):
        self.name = name
        self.year = year
movies = [
        Movie("The Matrix",1999),
        Movie("The Matrix Reloaded",2003),   # objects 
        Movie("The Matrix Revolution",2003),
        Movie("The Matrix Resurrections",2021),
]

In [7]:
name = 'Dipali Gupta'
list(name)

['D', 'i', 'p', 'a', 'l', 'i', ' ', 'G', 'u', 'p', 't', 'a']

In [8]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
name[0]

'D'

In [10]:
print(a[0])
print(a[-1])
print(a[-2])
print(a[1])

alex
15
james
5

In [11]:
data = list(range(1,101))
print(data[:10])
print(data[10:20])
print(data[-10:])  # accessing list elements
print(data[23:36])
print(data[50:30:-1])# reverse slice
print(data[::-1]) # reverse list
print(data[1::2]) # odd numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
[51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [12]:
for i in a:
    print(i)

alex
5
Sam
7
john
10
james
15

In [13]:
movies = []
movies.append("Shrek")
movies.append("Shamshera")
movies.append('Bloody daddy')
movies.append("Bhool Bhulaiyaa")

In [14]:
movie_name = input("Enter the name ")
movies.append(movie_name)
print(movies)

['Shrek', 'Shamshera', 'Bloody daddy', 'Bhool Bhulaiyaa', 'Bloody daddy']

In [16]:
movies.insert(2,'Jalebi')
print(movies)

['Shrek', 'Shamshera', 'Jalebi', 'Kungu fu', 'Bloody daddy', 'Bhool Bhulaiyaa', 'Bloody daddy']

In [18]:
# extend function
x = [1,2,3,4,5]
y =[6,7,8,9,10]
x+y # creates a new list
x.extend(y) # modifies list x
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
movies

['Shrek',
 'Shamshera',
 'Jalebi',
 'Kungu fu',
 'Bloody daddy',
 'Bhool Bhulaiyaa',
 'Bloody daddy']

In [21]:
movies.pop(2) # pop(remove) last occurrence of that element

'Jalebi'

In [22]:
movies.remove("Kungu fu") # removes only first occurrence of the element

In [23]:
print(movies)
movies.pop(3)
print(movies)

['Shrek', 'Shamshera', 'Bloody daddy', 'Bhool Bhulaiyaa', 'Bloody daddy']
['Shrek', 'Shamshera', 'Bloody daddy', 'Bloody daddy']

In [24]:
if 'inception' in movies:
    movies.remove('inception')
else:
    print(movies)

['Shrek', 'Shamshera', 'Bloody daddy', 'Bloody daddy']

In [25]:
value  = 'Shrek'
if value in movies:
    movies.remove(value)
else:
    print('value not found')
print(movies)

['Shamshera', 'Bloody daddy', 'Bloody daddy']

In [26]:
movies.clear()

In [27]:
del a # destructor (deletes any kind of variable)

In [28]:
Books = ['Physics','ML Aggrawal Maths','Chemistry','Java','Learn Python the hard way','Object oriented Programming C++']
Books.index('Physics') # searching

0

In [29]:
numbers = [1,2,2,3,3,3,3,3,3,4]
print(numbers.count(2))
print(numbers.count(3))
print(numbers.count(4))

2
6
1

In [30]:
Books.sort()  # mixed data type list cannot be sorted down
print(Books)

['Chemistry', 'Java', 'Learn Python the hard way', 'ML Aggrawal Maths', 'Object oriented Programming C++', 'Physics']

In [31]:
Books.reverse() # runtime permanent reverse
print(Books)

['Physics', 'Object oriented Programming C++', 'ML Aggrawal Maths', 'Learn Python the hard way', 'Java', 'Chemistry']

In [32]:
Books_backup = Books.copy() # making a backup of the books list
# a copy of variable is created at a different memory location

In [33]:
print(Books_backup)
books2 = Books # No two variables point to the same memory location 
Books.append('The Alloy of Law')
print(Books)
print(books2)
print(Books_backup)

['Physics', 'Object oriented Programming C++', 'ML Aggrawal Maths', 'Learn Python the hard way', 'Java', 'Chemistry']
['Physics', 'Object oriented Programming C++', 'ML Aggrawal Maths', 'Learn Python the hard way', 'Java', 'Chemistry', 'The Alloy of Law']
['Physics', 'Object oriented Programming C++', 'ML Aggrawal Maths', 'Learn Python the hard way', 'Java', 'Chemistry', 'The Alloy of Law']
['Physics', 'Object oriented Programming C++', 'ML Aggrawal Maths', 'Learn Python the hard way', 'Java', 'Chemistry']

In [34]:
books2 is Books # memory location of Books is equal to books2

True